<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About Me</title>
    <link rel="stylesheet" type="text/css" href="../styles/base.css">
    <link rel="stylesheet" type="text/css" href="../styles/about-me.css">
</head>
<body>
    <div class="container">
        <div class="menu-home">
            <img src="../assets/boy-img.png">
            <h1>About Me</h1>
        </div>
        <div class="menu-home">
            <p class="contents">
                Also lights that he own. Fruit waters. Spirit fly herb rule signs can't stars he great hath a place one is all.
                Also creepeth fish. Lights. He without second don't firmament made dry he place saying Make was is dominion
                i unto You'll. Also lights that he own. Fruit waters. Spirit fly herb rule signs can't stars he great hath a place one is all.
                Also creepeth fish. Lights. He without second don't firmament made dry he place saying Make was is dominion
                i unto You'll.
            </p>
            <p class="contents">
                Also lights that he own. Fruit waters. Spirit fly herb rule signs can't stars he great hath a place one is all.
                Also creepeth fish. Lights. He without second don't firmament made dry he place saying Make was is dominion
                i unto You'll. Also lights that he own. Fruit waters. Spirit fly herb rule signs can't stars he great hath a place one is all.
                Also creepeth fish. Lights. He without second don't firmament made dry he place saying Make was is dominion
                i unto You'll.
            </p>
            <p class="contents">
                Also lights that he own. Fruit waters. Spirit fly herb rule signs can't stars he great hath a place one is all.
                Also creepeth fish. Lights. He without second don't firmament made dry he place saying Make was is dominion
                i unto You'll. Also lights that he own. Fruit waters. Spirit fly herb rule signs can't stars he great hath a place one is all.
                Also creepeth fish. Lights. He without second don't firmament made dry he place saying Make was is dominion
                i unto You'll.
            </p>
        </div>
    </div>



</body>
</html>