<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>What are your Favourite Video Games</title>
    <link rel="stylesheet" type="text/css" href="../styles/base.css">
    <link rel="stylesheet" type="text/css" href="../styles/games-page.css">
</head>
<body>

    <div class="container">
        <form>
            <div class="menu-home">
                <img src="../assets/joypad.png">
                <h1>Favourite Video Games</h1>
            </div>
            <div class="menu-home">
                <div class="input-group">
                    <label>Name of the Game:</label>
                    <input class="game-name" type="text"/>
                </div>
                <div class="input-group">
                    <label>Description of the Game:</label>
                    <textarea rows="6" cols="40">
                    </textarea>
                </div>
                <div class="input-group">
                    <label>Game Photo:</label>
                    <input type="file" name="pic" accept="image/*">
                </div>

            </div>

            <div class="button-group">
                <a href="#">View Your Favourite Games</a>
                <button>Submit</button>
            </div>
        </form>
    </div>

</body>
</html>